In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('D:/projects/python/dataset/emp_sal.csv')

In [5]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, 1].values

In [9]:
from sklearn.model_selection import train_test_split

In [19]:
df.dropna()

    SNo    Name   Age       City  Country   Salary
0     1     Tom  28.0    Toronto   Canada  20000.0
1     2     Lee  31.0    Edmonto   Canada   3900.0
2     3    Dave  34.0    Toronto   Canada   8000.0
3     4    Anik  26.0   HongKong     Asia  66672.0
6     7  Steven  43.0    BayArea  America   8300.0
7     8     Ram  38.0  Hyderabad     Asia  54666.0
8     9    hari  50.0    newyork  America  67666.0
10   12    Anik  26.0   HongKong     Asia  66672.0
12   14    Geet  22.0   HongKong     Asia  30007.0
14   16     Ram  38.0  Hyderabad     Asia  54666.0
16   18    yami  27.0    newyork  America   8888.0
18   20  Andrew  34.0      Congo   Africa  34432.0
19   21   soham  32.0     Angola   Africa  34534.0
20   22    Grig  26.0    Finland   Europe  33451.0

In [21]:
x=df["Age"]
y=df["Salary"]

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model=LinearRegression()

In [26]:
model.fit(x_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[27. 22. nan 30. nan 26. 31. 26. 43. 32. nan 34. 31. 30. 28. 27.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.